<button type="button" class="btn" data-toggle="modal" data-target="#modal-<%= field.id %>">
  <%= cl_image_tag field.photo, class: "un-img-card" %>
</button>

<div class="modal fade" id="modal-<%= field.id  %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <div class="support-img-text d-flex">
          <div class="icon">
            <%= cl_image_tag field.photo, class: "card-img img-thumbnail", alt: field.photo %>
          </div>
          <div class="notice d-flex flex-column">
            <h4 class="pop-title">Support <%= field.name %>?</h4>
            <p class="pop-text">This field support studies on <%= field.descritption %></p>
          </div>
        </div>
        <div class="support-or-cancel justify-content-center  ">
          <%= button_to "#{supported_choices_path}?field_id=#{field.id}", method: :post, class:"btn-support" do %>
            Support
          <% end %>
          <%= link_to 'Choose another UN Goal', root_path %>
        </div>
      </div>
    </div>
  </div>
</div>
