<%= render 'shared/banner' %>



<div class="row grid p-5">
  <%= render partial: "shared/card" %>
  <%= render partial: "shared/card" %>
  <%= render partial: "shared/card" %>
  <%= render partial: "shared/card" %>
  <%= render partial: "shared/card" %>
  <%= render partial: "shared/card" %>
  <%= render partial: "shared/card" %>
  <%= render partial: "shared/card" %>
  <%= render partial: "shared/card" %>
  <%= render partial: "shared/card" %>
  <%= render partial: "shared/card" %>
  <%= render partial: "shared/card" %>
  <%= render partial: "shared/card" %>
  <%= render partial: "shared/card" %>
  <%= render partial: "shared/card" %>
  <%= render partial: "shared/card" %>
  <%= render partial: "shared/card" %>
  <%= render partial: "shared/card" %>
  <%= render partial: "shared/card" %>
  <%= render partial: "shared/card" %>
  <% #, locals: {zone: @zone}  %>
</div>