<%= render 'shared/banner' %>

<div class="container-home">

  <%= render 'shared/popup_researcher' %>

<%# ------------------- HOW TO SECTION ------------------- %>
  <div class="how-title">
    <h1 class="text-center">How does it work?</h1>
  </div>
  <div class="how-all d-flex justify-content-center">
    <div class="how-to">
      <h2>1.</h2>
      <span class="fa fa-3x fa-search d-flex justify-content-center"></span>
      <br>
      <h4 class="card-title text-center">Choose a Research</h4>
      <p class="card-text"><%= "Choose a researcher or a field to support everytime you purchase.".truncate(100)%></p>
    </div>
    <div class="how-to">
      <h2>2.</h2>
      <span class="fa fa-3x fa-store d-flex justify-content-center"></span>
      <br>
      <h4 class="card-title text-center">Select a Store</h4>
      <p class="card-text"><%= "Select the store you like and check all of their coupons.".truncate(100)%></p>
    </div>
    <div class="how-to">
      <h2>3.</h2>
      <span class="fa fa-3x fa-tags d-flex justify-content-center"></span>
      <br>
      <h4 class="card-title text-center">Save Money</h4>
      <p class="card-text"><%= "Check all cupons avaiable that will help you and your researcher or field.".truncate(100)%></p>
    </div>
    <div class="how-to">
      <h2>4.</h2>
      <span class="fa fa-3x fa-donate d-flex justify-content-center"></span>
      <br>
      <h4 class="card-title text-center">Researcher Gains</h4>
      <p class="card-text"><%= "A percentage of your purchase goes to the researcher or field.".truncate(100) %></p>
    </div>
  </div>
<%# ------------------- HOW TO SECTION (END) ------------------- %>

  <a class="arrow-link" href="#target">
    <div class="arrow-down fas fa-4x fa-angle-double-down d-flex justify-content-center"></div>
  </a>
  <a id="target"><br></a>

<%# ------------------- SEARCH RESEARCHER ------------------- %>
  <div class="text-center mt-5 mb-3 ">
    <h2>Search Your Researcher Name</h2>
  </div>

  <div class="search-banner">
    <div id="search-banner">
      <%= render 'shared/search' %>
    </div>
  </div>
<%# ------------------- SEARCH RESEARCHER (END) ------------------- %>

<%# ------------------- SEARCH UN GOAL ------------------- %>
  <div class="text-center mt-5">
    <h2>Or Choose a UN Goal and Fund Research in That Area</h2>
  </div>
  <div class="row grid p-5">
    <% @fields.each do |field| %>
      <%= render "shared/popup_fields", field: field %>
    <% end %>
  </div>
<%# ------------------- SEARCH UN GOAL (END) ------------------- %>

</div>
