<div class="researcher-container">
  <div class="title-button row m-5">
    <div class="col col-lg-5">
      <h1><%= @researcher.full_name %></h1>
    </div>
    <div class="col">
      <div class="search-banner">
        <div id="search-banner">
          <%= render 'shared/search_more' %>
        </div>
      </div>
    </div>
  </div>

  <div class="profile-info row m-5 mt-5">
    <div class="main-profile col-lg-5">
      <%= image_tag "student-photo.jpg" %>
      <div class="researcher-university">
        <%= @researcher.university %>
      </div>
      <div class="researcher-lattes">
        <a href=<%= @researcher.lattes_link %>>Researcher Lattes Page <a class="fas fa-external-link-alt"></a></a>
        <br>
        <p id="researcher-bio"><%= @researcher.bio %></p>
      </div>
      <div class="col">
        <button type="button" class="btn btn-secondary btn-lg">SUPPORT</button>
      </div>
    </div>

    <div class="articles col">
      <div class="article-card">
        <% @articles.each do |article| %>
          <div class="card mb-3">
            <div class="row no-gutters">
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"><%= article.title %></h5>
                  <p class="card-text"><%= article.description %></p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="article-field">
                    <%= cl_image_tag article.field.photo, class: "card-img", alt: article.field.photo %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
