<!-- Supported Cause  -->
<div class="container bootstrap-field-container">
  <div class="field-container d-flex">
      <div class="field-image mr-3">
        <%= cl_image_tag @supported_choice.photo, class: "card-img img-thumbnail card-design", alt: @supported_choice.photo %>
        <br>
        <br>
        <a class="mt-2 btn btn-change-field btn-block" href="/"><i class="fa fa-chevron-circle-left hvr-icon hover-bump-left"></i> &nbsp; Change Field

        </a>
      </div>
      <div class="field-description flex-grow">
        <div class="card-body">
          <h3 class="card-title"><%= @title %>:
            <br>
            <%= @supported_name %></h3>
          <p class="card-text">This field support studies on <%= @supported_description.truncate(150) %></p>
        </div>
<!-- Circle counter -->
          <div class="container-circle">
              <div class="row">
                  <div class="col-md-3 col-sm-6">
                      <div class="progress yellow">
                          <span class="progress-left">
                              <span class="progress-bar"></span>
                          </span>
                          <span class="progress-right">
                              <span class="progress-bar"></span>
                          </span>
                          <div class="progress-value">R$ 100</di>
                      </div>
                  </div>
              </div>
          </div>
<!-- Circle counter end -->
<div>
  <h2 class="circle-text">Your donation</h2>
</div>
      </div>
    </div>
  </div>
</div>
<hr>
<!-- Companies here  -->
<div class="card-stores">
    <div class="text-center">
      <h1 class="header1 position-relative">
        Stores
        <div class="arrow-tag tag-style">
          <p>Buying from<br>these stores will<br>help research</p>
          <%= icon('fas', 'chevron-down') %>
        </div>
      </h1>
    </div>
  <br>
  <br>
  <br>

  <%= render 'shared/companies_cards' %>
</div>
