<!-- Supported Cause  -->
<div class="container bootstrap-field-container">
  <div class="field-container d-flex">
      <div class="field-image mr-3">
        <%= cl_image_tag @field.photo, class: "card-img img-thumbnail card-design", alt: @field.photo %>
      </div>
      <div class="field-description flex-grow">
        <div class="card-body body-text">
          <h3 class="card-title title-field">You support</h3>
            <h3 class="title-name"><%= @field.name %></h3>
            <a class="btn px-0 mb-2" href="/">
              <i class="fa fa-chevron-circle-left hvr-icon hover-bump-left"></i> &nbsp; Change supported field
            </a>
            <p class="card-text">This field support studies on <%= @field.descritption.truncate(150) %></p>
        </div>
<!-- Circle counter -->
          <div class="container-circle">
              <div class="row">
                  <div class="col-md-3 col-sm-6">
                      <div class="progress yellow">
                          <span class="progress-left">
                              <span class="progress-bar"></span>
                          </span>
                          <span class="progress-right">
                              <span class="progress-bar"></span>
                          </span>
                          <div class="progress-value">75%</div>
                      </div>
                  </div>
              </div>
          </div>
<!-- Circle counter end -->
      </div>
    </div>
  </div>
</div>
<hr>
<!-- Companies here  -->
<div class="card-stores">
    <div class="text-center">
      <h1 class="header1 position-relative">
        Stores
        <div class="arrow-tag tag-style">
          <p>Buying from<br>these stores will<br>help research</p>
          <%= icon('fas', 'chevron-down') %>
        </div>
      </h1>
    </div>
  <br>
  <br>
  <br>

  <%= render 'shared/companies_cards' %>
</div>

<style>
  .header1 {
    color: #292B3B;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 2.5rem;
    border-color: #FF6100;
    border-bottom:
  }

  .btn-change-field {
    color: white;
    background-color: #FF6100;
    font-family: "Montserrat";
    font-weight: 700;
    border-color: #FF6100;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.6);
    border-radius: 3px;
  }
  .btn-change-field:hover {
    color: #ffffff !important;
    background: #F98B4F;
    border-color: #F98B4F !important;
    transition: all 0.4s ease 0s;
  }

  .hover-bump-left {
    transition: transform 0.25s;
  }

  .btn:hover .hover-bump-left {
    transform: translateX(-8px);
  }
  .card-design {
  width: 14em;
  border-radius: 1em;
  box-shadow: 5px 5px 10px 0px rgba(130,130,130,0.3);
  opacity: 0.7;
  }
  .body-text {
    color: #292B3B;
    text-justify: left;
    font-family: "Montserrat";
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 0 1.25rem 1.25rem;
  }
  .title-field {
    font-family: "Montserrat";
    font-weight: 550;
    font-size: 2.4rem;
    text-align: left;
  }
  .title-name {
    font-family: "Montserrat";
    font-weight: 350;
    font-size: 2rem;
    text-align: left;
  }
  .card-body p {
    font-family: "Montserrat";
    font-size: 1rem;
  }
  .card-stores {
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
  box-sizing: border-box;
  border-color: #FF6100;
  }


  .progress{
      width: 150px;
      height: 150px;
      line-height: 150px;
      background: none;
      margin: 0 auto;
      box-shadow: none;
      position: relative;
  }
  .progress:after{
      content: "";
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 12px solid #fff;
      position: absolute;
      top: 0;
      left: 0;
  }
  .progress > span{
      width: 50%;
      height: 100%;
      overflow: hidden;
      position: absolute;
      top: 0;
      z-index: 1;
  }
  .progress .progress-left{
      left: 0;
  }
  .progress .progress-bar{
      width: 100%;
      height: 100%;
      background: none;
      border-width: 12px;
      border-style: solid;
      position: absolute;
      top: 0;
  }
  .progress .progress-left .progress-bar{
      left: 100%;
      border-top-right-radius: 80px;
      border-bottom-right-radius: 80px;
      border-left: 0;
      -webkit-transform-origin: center left;
      transform-origin: center left;
  }
  .progress .progress-right{
      right: 0;
  }
  .progress .progress-right .progress-bar{
      left: -100%;
      border-top-left-radius: 80px;
      border-bottom-left-radius: 80px;
      border-right: 0;
      -webkit-transform-origin: center right;
      transform-origin: center right;
      animation: loading-1 1.8s linear forwards;
  }
  .progress .progress-value{
      width: 90%;
      height: 90%;
      border-radius: 50%;
      background: #44484b;
      font-size: 24px;
      color: #fff;
      line-height: 135px;
      text-align: center;
      position: absolute;
      top: 5%;
      left: 5%;
  }
  .progress.yellow .progress-bar{
      border-color: #fdba04;
  }
  .progress.yellow .progress-left .progress-bar{
      animation: loading-3 1s linear forwards 1.8s;
  }
  .progress.pink .progress-bar{
      border-color: #ed687c;
  }
  .progress.pink .progress-left .progress-bar{
      animation: loading-4 0.4s linear forwards 1.8s;
  }
  .progress.green .progress-bar{
      border-color: #1abc9c;
  }
  .progress.green .progress-left .progress-bar{
      animation: loading-5 1.2s linear forwards 1.8s;
  }
  @keyframes loading-1{
      0%{
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
      }
      100%{
          -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
      }
  }
  @keyframes loading-2{
      0%{
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
      }
      100%{
          -webkit-transform: rotate(144deg);
          transform: rotate(144deg);
      }
  }
  @keyframes loading-3{
      0%{
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
      }
      100%{
          -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
      }
  }
  @keyframes loading-4{
      0%{
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
      }
      100%{
          -webkit-transform: rotate(36deg);
          transform: rotate(36deg);
      }
  }
  @keyframes loading-5{
      0%{
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
      }
      100%{
          -webkit-transform: rotate(126deg);
          transform: rotate(126deg);
      }
  }
  @media only screen and (max-width: 990px){
      .progress{ margin-bottom: 20px; }
  }
  .container-circle {
    position:relative;
    bottom:200px;
    right:-700px;
  }


</style>
